# Python Basics

### Python version 3.7

* scripting

In [9]:
# Python Comments

print("Good Afternoon", "!", end = "||")#Basic output
print("Hello Python")

Good Afternoon !||Hello Python

#### Assignment

In [15]:
n1 = 12345 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi Variable Assignment of the 

a,b,c = 123,234,345 # Multi Variable Assignment with different values
print(a,b,c)

123 234 345

## Arthametic Operations
* =
* -
* *
* /
* %
* **

In [40]:
n1 % 11
n2 ** 12
n3 = n2 ** 12
type(n3)
len(str(n3))
 #atoms = 10 * 20
    #len(str(atoms))

50

# Conditionals

In [34]:
if a < 10 ** 96:
    print("true")
else:
    print("false")

true

# DataTypes

* double
* float
* int
*

In [39]:
type(a)

s1 ="python"
type(s1)

f1 = 12.0143
type(f1)
float(str(int(f1)))

12.0

# Find the greatest of 3 numbers

In [43]:
n1 = int(input("Enter the 1st no"))
n2 = int(input("Enter the 2nd no"))
n3 = int(input("Enter the 3rd no"))
if n1>n2 and n1>n3:
    print(n1, "is the gretest")
elif n2>n3:
    print(n2, "is the gretest")
else:
    print(n3, "is the gretest")

Enter the 1st no-1
Enter the 2nd no-50
Enter the 3rd no-100
-1 is the gretest

In [55]:
#Check if a year is a Leap year

a =1234
if(year % 400 ==0 or((year % 100!=0) and year%4 ==0):
    print("not a leap year")
else:
    print("Not a leap year")

SyntaxError: invalid syntax (<ipython-input-55-65818c5ddf5d>, line 4)

In [45]:
# Check if a number exists in a given range()

n1 =
lb =
ub =

SyntaxError: invalid syntax (<ipython-input-45-3d60f985a6cb>, line 3)

In [46]:
# Calculate the number of digits in a number

In [47]:
# Check if a number is a multiple of 10

In [48]:
# Check if a number is a factor of 1000

In [49]:
# Check if given string is equal to a number

s1="python"
n1= 123466
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

In [53]:
# Calculate the square root of a number without functions
n1= 123
n1** 0.5

11.090536506409418

In [59]:
# Calculate the number of micro seconds in a given year(considering leap year logic)
year = 2019
if year % 400 ==0 or(year % 100!=0 and year % 4 ==0):
   print(366 *24*60*60*(10**9))
else:
   print(365 *24*60*60*(10**9))

31536000000000000

In [58]:
# Calculate the number of nano seconds in a given year(considering leap year logic)